<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>K-Rest Apps</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="./favicon.png">
  <meta name="theme-color" content="#f57d1f"/>
  <link rel="manifest" href="./app.webmanifest">
  <link rel="apple-touch-icon" href="/icons/icon-192x192.png">
  <script src="https://use.fontawesome.com/b070c8f1df.js"></script>
</head>

<body>
  <a href="#main-content" class="skip-link">Skip to Content</a>
  <header>
    <nav class="menu">
      <div class="nav">
        <div class="logo">
          <a href="/" tabindex="0" class="title-logo">
            <h1>K<b>-Rest</b></h1>
          </a>
        </div>
        <button class="menu-toggle" tabindex="0">☰</button>
        <ul id="menu">
          <li><a class="active" href="/" tabindex="0" data-menu="home">Home</a></li>
          <li><a href="/#/favorite" tabindex="0" data-menu="favorite">Favorite</a></li>
          <li><a href="https://github.com/asepependi" target="_blank" tabindex="0" data-menu="about">About Us</a></li>
        </ul>
      </div>
    </nav>
  </header>
  <main id="main-content" tabindex="0"></main>
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
    <path fill="#000000" fill-opacity="1" d="M0,64L120,101.3C240,139,480,213,720,229.3C960,245,1200,203,1320,181.3L1440,160L1440,320L1320,320C1200,320,960,320,720,320C480,320,240,320,120,320L0,320Z"></path>
  </svg>
  <footer tabindex="0">
    <div class="footer-content">
      <p>Copyright &copy; 2024 - <b>K</b>-Rest.</p>
    </div>
  </footer>

  <script>
    // window.addEventListener('scroll', function () {
    //   const menu = document.querySelector('.menu');
    //   if (window.scrollY > 100) {
    //     menu.classList.add('fixed-menu');
    //   } else {
    //     menu.classList.remove('fixed-menu');
    //   }
    // });
    // document.addEventListener('DOMContentLoaded', function () {
    //   const menuToggle = document.querySelector('.menu-toggle')
    //   const navMenu = document.querySelector('.nav ul')

    //   menuToggle.addEventListener('click', function () {
    //     navMenu.classList.toggle('active')
    //   })
    //   menuToggle.addEventListener('keydown', function (e) {
    //     if (e.keyCode === 13) {
    //       e.preventDefault()
    //       navMenu.classList.toggle('active');
    //     }
    //   })
    // });
  </script>
</body>

</html>